* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

body {
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #191919;


}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 70px;
}

/*====================ЛЕВАЯ СТОРОНА СЕКЦИИ=======================*/
.header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    min-height: 120px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    font-size: 1rem;
    line-height: 1.6;
}

/*===================ПРАВАЯ СТОРОНА СЕКЦИИ=============================*/
.main_section {
    margin: 40px 0;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 60px;
}

.img {
    max-width: 100%;
    max-height: 873px;
    border-radius: 12px;
}

.title {
    font-size: 4.3rem;
    line-height: 1.26;
    letter-spacing: 0.05em;
    max-width: 526px;
    margin-bottom: 90px;
}

.bold_title_word {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 4%;
}

.subtitle {
    font-size: 0.9rem;
    line-height: 1.6;
}

.link_list {
    display: flex;
    align-items: flex-end;
    gap: 17px;
    margin-top: 16px;
    margin-bottom: 130px;
}

/*===================СЕКЦИЯ 2=============================*/
.card {
    margin-bottom: 60px;
}

.preview_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 92px 0 66px;
}
.second_section_title {
    font-size: 4rem;
    line-height: 1.23;
    font-weight: 400;
    letter-spacing: 0.045em;
}

.btn_style {
    border-radius: 6px;
    background: #118DA8;

    color: #FFF;
    font-size: 1rem;
    line-height: 1.5;
}

.btn_title {
    width: 178px;
    height: 51px;
}

.article_wrapper {
    margin-bottom: 160px;
}

.card_bg_wrapper {
    width: 100%;
    min-height: 512px;
    border-radius: 32px;
    background: #000;
}

.card_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
    padding: 40px;
}

.card_img {
    max-width: 389px;
    width: 100%;
    min-height: 432px;
}

.second_section_label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 27px;
    border-radius: 6px;
    background: #191919;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0 16px;
    margin-bottom: 48px;
}

.badge {
    color: #118DA8;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 18px;
}

.second_section_subtitle {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-bottom: 28px;
}

.description {
    color: rgba(255, 255, 255, 0.70);
    font-size: 1.3rem;
    line-height: 1.4;
    display: inline-block;
    max-width: 757px;
}

.btn_description {
    width: 208px;
    height: 51px;
    margin-top: 18px;
}

/*===================СЕКЦИЯ 3=============================*/
.introduce_wrapper {
    display: flex;
    gap: 60px;
    padding: 100px 0;
}

.description_wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

}

.arrow_link {
    display: inline-block;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: #118DA8;
    background-image: url("./assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    margin-bottom: 20px;
}

.introduce_badge {
    font-size: 18px;
}

.introduce_title {
    font-size: 65px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 2.88px;
    margin-bottom: 28px;
}

.introduce_text {
    margin-bottom: 33px;
}

/*======================СЕКЦИЯ SUBSCRIBE============================*/

.subscribe_title {
    font-size: 72px;
}

.info_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 200px;
}

.subscribe_wrapper {
    padding: 85px 60px 0;
}

.user-info_wrapper {
    padding: 60px 70px 76px 60px;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.input {
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
}

input::placeholder {
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

.btn_subscribe {
    width: 87px;
    height: 48px;
}

/*==========================СЕКЦИЯ РЕВЬЮ===============================*/
.review_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.review_card {
    max-width: 423px;
    min-height: 321px;
    border-radius: 32px;
    background: #000;
    align-content: flex-start;

    padding: 54px 50px 50px 56px;
}

.review_title {
    display: inline-block;
    width: 310px;

    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;

    margin-bottom: 19px;
}

.review_subtitle {
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2
}

.star {
    margin-bottom: 21px;
}

